:root{
  --violet : #7562E0;
  --dark : #625C7E;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body{
  height: 100vh;
  overflow-x: hidden;
}
.container-g{
  margin-top: 0px;
  margin-left: 135px;
  margin-right: 100px;
  margin-bottom: 0px;
}
/* ---------------------------------En-tête---------------------------------------------*/
header{
 margin: 20px;
 font-size: 1.5em;
 /* font-family: font-1, "sans-serif"; */
 font-family: 'Montserrat', sans-serif;
}
ul {
  display: flex;
  float: right;
}
li {
  list-style-type: none;
}
a {
  margin-right: 50px;
  color: var(--dark);
  text-decoration: none;
  transition: all .2s ease;
}
li a:hover{
  color:#c4bcf3;
}
.web-logo {
  cursor: pointer;
  color: var(--violet);
  text-transform: uppercase;
  transition: all .2s ease;
}

/* ---------------------------------Block principale---------------------------------------------*/
.contents{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 550px;
}
.content-1{
  width: 40%;
  height: 400px;
  margin-left: 150px;
}
.content-1 h1{
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  color: #131416;
  font-size: 5em;
}
.content-1 p{
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  color: var(--dark);
}
.content-1 button{
  padding: 0.9rem 1.8rem;
  color: #131416;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;  
  background: transparent;
  border-left: 7px solid rgb(104, 45, 197);
  border-top: 7px solid rgb(104, 45, 197);
  box-shadow: 7px 7px 0px rgb(104, 45, 197);
  transition: all .3s ease;
  cursor: pointer;
}
.content-1 button:hover{
  border: 1px solid #111416;
  box-shadow: none;
}
.content-2{
  width: 45%;
  height: 550px;
  /* background: url(../MEDIA/bloc1.svg); */
  margin-top: 70px;
  transform: rotate(45deg);
}
.content-2-1{
  position: relative;
  width: 75%;
  height: 450px;
  background: var(--violet);
  border-radius: 50% 65% 50% 65%;
  transform: rotate(-45deg);
}
.content-2-2{
  position: absolute;
  top: -10%;
  left: -15%;
  width: 65%;
  height: 310px;
  background: var(--violet);
  border-radius: 50%;
}
.content-2-2-1{
  position: absolute;
  top: 3%;
  left: 3%;
  width: 95%;
  height: 295px;
  background: url(../MEDIA/Le_Will.jpg) center/cover; 
  border-radius: 50%;
  border: 10px solid white;
}

/*-----------------------Deuxeime block--------------------*/

.container-2{
  position: relative;
  width: 100%;
  height: 450px;
  background: #def3fd27;
  margin-bottom: 200px;
}
.contents-2-img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.contents-2-img img{
  width: 200px;
  height: 80px;
  margin-right: 20px;
}
.contents-g{
  position: relative;
  width: 100%;
  height: 300px;
  top: 30%;
  display: flex;
  /* background: #d0eef35d; */
  margin-left: 150px;
  margin-right: 50px;
}
.exprerience{
  width: 12%;
  
}
.exprerience h1{
  font-size: 6em;
  color: var(--violet);
  font-family: 'Montserrat', sans-serif;
  margin-top: 80px;
}
.exprerience p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #414243;
}
.activity{
  width: 88%;
  margin-left: 100px;
}
.box-container h3{
  font-size: 1.8em;
  padding-top: 100px;
  color: var(--violet);
  font-family: 'Montserrat', sans-serif;
}

/* le style des trois icons*/
.contents-icon{
  display: flex;
  margin-top: 50px;
}
/*la config du box--icon--1*/
.box--icon--1{
  width: 23%;
  height: 230px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 30px;
  background: white;
  box-shadow: 0px 0px 10px rgba(90, 89, 89, 0.3);
  border-radius: 7px;
  transition: all .3s ease;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 30px;
  position: relative;
}
.box--icon--1 div{
  position: absolute;
  bottom: 20px; 
}
.box--icon--1 div i{
  color: var(--violet);
  font-size: 30px;
  transition: all 1s ease-in-out;
}
.box--icon--1 div h4{
  color: var(--violet);
  font-size: 20px;
  margin-top: 10px;
  transition: all .3s ease-in-out;
}
.box--icon--1 div a{
  color: white;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
}

 /*le hover sur le box--icon--1*/
.box--icon--1:hover{
  background: var(--violet);
}
.box--icon--1:hover div i{
 transform: rotateY(360deg); 
  color: white;
  font-size: 2em;
}
.box--icon--1:hover div h4{
  margin-bottom: 20px;
  color: white;
}
.box--icon--1:hover div a{
  visibility: visible;
  opacity: 1;
  color: white;
  font-family: 'Montserrat', sans-serif !important;
}

/*---------------------------------------------------------------------------------------------------------*/
.info{
  display: flex;
  justify-content: space-between;
}
.article-1{
  font-size: 1.5em;
  color: var(--violet);
  font-family: 'Roboto', sans-serif;
}
.article-2{
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  color: #414243;
}
.article-2 #icon--f {
  margin-top: 40px;
}
#icon-f{
  font-size: 0.9em;
}
#icon-f a{
  color: var(--violet);
}

/*the slider*/
.container--slider{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}
.content--slide{
  width: 31%;
  height: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.18);
  margin-bottom: 20px;
  margin-right: 10px; 
}
.content--slide img{
  width: 100%;
  object-fit: cover;
  transition: all 3s ease-in-out;
}
.content--slide:hover img{
  transform: translateY(-50%);
}
/*the block cmt-img-text*/
.commet--g{
  width: 100%;
  height: 450px;
  background: #e4e2f031;
}
.commentaire{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img--text{
  width: 31%;
  height: 300px;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.18);
  margin-right: 20px;
  position: relative;
  border-radius: 7px;
  transition: all .5s ease-in-out;
  margin-top: 70px;
}
.img--text--im--1{
  background: url(../MEDIA/1.jpg) center/cover;
  border-radius: 50%;
  border: 4px solid var(--violet);
  height: 80px;
  object-fit: cover;
  width: 23%;
  margin: 10px auto;
}
.img--text--im--2{
  background: url(../MEDIA/2.jpg) center/cover;
  border-radius: 50%;
  border: 4px solid var(--violet);
  height: 80px;
  object-fit: cover;
  width: 23%;
  margin: 10px auto;
}
.img--text--im--3{
   background: url(../MEDIA/3.jpg) center/cover;
  border-radius: 50%;
  border: 4px solid var(--violet);
  height: 80px;
  object-fit: cover;
  width: 23%;
  margin: 10px auto;
}
.img--text .fa-quote-right{
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 4em;
  color: #625c7e21;
  transition: all .2s ease-in-out;
}
.img--text:hover{
  transform: scale(1.03);
}
.img--text:hover .fa-quote-right{
  color: var(--violet);
  transform: scale(1.1);
}
 .text--commet p{
  text-align: center;
  font-size: 1.2em;
  color: #414243;
}
.fa-quote-left{
   font-size: 0.5em;
 }


/*-------------------------------------------------------*/
.img-wilseloo{
  width: 100%;
  margin-top: 60px;
  display: flex;
}
.game--picture{
  width: 60%;
  margin-right: 40px;
}
.game--picture img{
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.inf--text{
  width: 40%;
}
.inf--text h2, p, .icons{
  width: 100%;
}
.img-wilseloo p{
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  color: #414243;
}
.img-wilseloo h2{
   font-family: 'Roboto', sans-serif;
   font-size: 1.8em;
   color: var(--violet);
   padding-bottom: 10px;
}

#icon-google-play i{
  font-size: 2em;
  cursor: pointer;
  color: #111416;
  transition: all .3s ease-in-out;
}
#icon-app-store i{
  font-size: 2em;
  color: #111416;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.icons{
  text-align: center;
  margin-top: 45px;
}
#icon-app-store a i:hover{
  color: rgba(51, 126, 224, 0.871);
  transform: scale(1.2);
}
#icon-google-play a i:hover{
  color: rgba(35, 235, 92, 0.871);
  transform: scale(1.2);
}
 .end{
  display: flex;
  margin-top: 10px;
}
.end-1{
  display: flex;
  width: 100%;
  height: 450px;
  background: rgba(247, 237, 237, 0.398);
}
.connect{
  margin-right: 100px;
}
.connect p{
  font-family: 'Montserrat', sans-serif;
  color: #414243;
  margin-top: 30px;
  font-size: 1.4em;
}
.connect h2{
  color: var(--violet);
  font-size: 1.8em;
}
.icons-f{
  margin-top: 30px;
}

.fab{
  font-size: 2.2em;
  color: #7e7e7e;
  margin: 5px;
  cursor: pointer;
}
.fab:hover{
  color: #7562E0;
}
.mail{
  margin-top: 20px;
  color: #ab9bf3;
  cursor: pointer;
  font-size: 1.5em;
}
.mail:hover{
  color: var(--violet);
}
.contact h3{
  font-size: 1.5em;
  color: #625C7E;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
input{
  padding: 1.1rem 8rem;
  margin-bottom: 10px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #5c5d5e80;
  transition: all .3s ease;
}
textarea{
  padding: 1.1rem 6rem;
   text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  resize: none;
  border-radius: 6px;
  outline: none;
   border: 1px solid #5c5d5e80;
  transition: all .3s ease;
}

input::placeholder{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
}
input:focus{
  border-color: var(--violet);
  text-align: center;
  color: #7562E0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
textarea:focus{
  border-color: var(--violet);
  text-align: center;
  color: #7562E0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.myForm button{
  padding: 0.9rem 1.8rem;
  color: #131416;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;  
  background: transparent;
  border-left: 7px solid rgb(104, 45, 197);
  border-top: 7px solid rgb(104, 45, 197);
  box-shadow: 7px 7px 0px rgb(104, 45, 197);
  transition: all .3s ease;
  cursor: pointer;
}
.myForm button:hover{
  border: 1px solid #111416;
  box-shadow: none;
}

footer{
  width: 100%;
  height: 50px;
  text-align: center;
  color: antiquewhite;
  background: #111416;
}

footer p{
  padding-top: 15px;
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
}